<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Kullanci Profili</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Clientes</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li class="active">Profil</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">

            <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                    <img class="profile-user-img img-responsive img-circle"
                         src="https://media.licdn.com/mpr/mprx/0_ilLA5atP-ybkK3r6EhgxmM4Pc0JLKlCFGPjA8VzP9Z5kK3_VWhgKDMNtrZbM13lV2hjKepc-RRXXnz-FEGhDSVsOYRX5nzFofGh-QR71vVAdyipn_Pny67TGOmOv0zKRQTkj35hPQcx"
                         alt="User profile picture">
                    <h3 class="profile-username text-center" th:text="${account.firstName+ ' '+ account.lastName}"></h3>
                    <p class="text-muted text-center" th:text="${details.title}"></p>
                </div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->

            <!-- About Me Box -->
            <div class="box box-primary">
                <div class="box-header with-border text-center ">
                    <h3 class="box-title">Hakkinda</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <strong><i class="fa fa-book margin-r-5"></i>Egitim</strong>

                    <p class="text-muted" th:text="${details.education}">
                    </p>
                    <hr>
                    <strong><i class="fa fa-map-marker margin-r-5"></i>Adres</strong>
                    <p class="text-muted" th:text="${details.address}"></p>
                    <hr>
                    <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>
                    <p>
                        <span th:each="skill : ${skills}" th:class="${'label label-'+ skill.colorCode}"
                              th:text="${skill.skillName}">
                        </span>
                    </p>
                    <hr>
                    <strong><i class="fa fa-file-text-o margin-r-5"></i>Hakkinda</strong>
                    <p th:text="${details.experience}"></p>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->

        <!-- /.col -->
    </div>
    <!-- /.row -->

    <div>
    </div>
</div>
</body>
</html>