<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout_admin">
<head>
    <title>Basvuranlar</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Basvuranlar</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li class="active">Basvuranlar</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class=" col-md-offset-1 col-md-10">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Basvuranlar</h3>

                    <div class="box-tools">
                        <div class="box-tools">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-filter btn-xs" data-target="all">Tüm
                                    Basvurular
                                </button>
                                <button type="button" class="btn btn-success btn-filter btn-xs" data-target="onaylanan">
                                    Onaylanmış
                                </button>
                                <button type="button" class="btn btn-warning btn-filter btn-xs" data-target="bekleyen">
                                    Onay Bekleyen
                                </button>
                                <button type="button" class="btn btn-danger btn-filter btn-xs" data-target="iptal">Red
                                    Edilen
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-filter table-hover">
                        <tbody>
                        <tr>
                            <th>Aday</th>
                            <th>Basvuru Tarihi</th>
                            <th>Durum</th>
                            <th></th>
                            <th></th>

                        </tr>
                        <tr data-status="onaylanan" th:each="listItem:${list}">
                            <td>
                                <a href="#" class="pull-left">
                                    <img th:src="${listItem.imageUrl}" class="img-rounded img-responsive">
                                    <p class="h4 text-info" th:text="${listItem.fullName}"></p>
                                </a>
                            </td>
                            <td>
                                <br>
                                <br>
                                <span th:text="${listItem.applicationDate}"><i class="fa fa-calendar"></i></span>
                            </td>
                            <td>
                                <br>
                                <br>

                                <span class="label label-warning">Onay Bekliyor</span>
                            </td>
                            <td>
                                <br>
                                <br>
                                <a href="asdf" class="btn btn-block btn-success btn-xs">Onayla</a>
                            </td>
                            <td>
                                <br>
                                <br>
                                <a href="" class="btn btn-block btn-danger btn-xs disabled">Red Et</a>
                            </td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
</body>
</html>