<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
<head>
    <title>Ilanlar</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Ilanlar</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li class="active">Ilanlar</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Ilanlar Listesi</h3>
        </div>
        <div class="box-body no-padding">
            <ul class="timeline timeline-inverse">
                <li th:each="row : ${ad_list}">

                    <i class="fa fa-suitcase bg-green"></i>
                    <div class="timeline-item">
                        <span class="time" th:text="@{'08/08/2017'}"><i class="fa fa-clock-o"></i></span>

                        <h3 class="timeline-header"><a th:href="${'/advert/'+ row.adCode}"
                                                       th:text="${row.adHeader}"></a></h3>

                        <div class="timeline-body" th:text="${row.adDescription}">

                        </div>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</div>
</body>
</html>