<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout_admin">
<head>
    <title>Tum Ilanlar</title>
</head>
<body>
<section layout:fragment="header">
    <h1>Ilanlar</h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li class="active">Tum Ilanlar</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">

            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Tum Ilanlar</h3>

                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Ilan Kodu</th>
                            <th>Ilan Basligi</th>
                            <th>Kapanma tarihi</th>
                            <th>Yayin tarihi</th>
                            <th>Durum</th>
                            <th> Guncelle</th>
                            <th> Sil</th>
                        </tr>
                        <tr th:each="listItem: ${list}">
                            <td th:text="${listItem.adCode}"></td>
                            <td><a th:href="${'/admin/ilan/'+listItem.adCode}" th:text="${listItem.adHeader}"> </a></td>
                            <td th:text="${listItem.adDeadlineTime}"></td>
                            <td th:text="${listItem.adActivationTime}"></td>
                            <td th:if="${adStatus}">
                                <button type="button" class="btn btn-block btn-success btn-xs">Activate</button>
                            </td>
                            <td th:unless="${adStatus}">
                                <button type="button" class="btn btn-block btn-warning btn-xs">Deactivate</button>
                            </td>
                            <td><a th:href="${'/admin/ilan/'+ listItem.adCode +'/guncelle'}"
                                   class="btn btn-block btn-primary btn-xs">Edit</a></td>
                            <td><a th:href="${'/admin/ilan/'+ listItem.adCode +'/sil'}"
                                   class="btn btn-block btn-danger btn-xs">Sil</a></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
                <div class="box-footer clearfix">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>


            <!-- /.box -->
        </div>
        <!-- /.col -->

        <!-- /.col -->
    </div>
</div>
</body>
</html>