<!DOCTYPE html  "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout_admin">
<head>
    <title th:if="${advertForm.update}"> İlan güncelleme</title>
    <title th:unless="${advertForm.update}"> Yeni İlan</title>
</head>
<body>
<section layout:fragment="header">
    <h1 th:if="${advertForm.update}">İlan güncelleme </h1>
    <h1 th:unless="${advertForm.update}">Yeni İlan </h1>
    <ol class="breadcrumb">
        <li><a href="/"><i class="fa fa-dashboard"></i> Anasayfa</a></li>
        <li th:if="${advertForm.update}" class="active">İlan güncelleme</li>
        <li th:unless="${advertForm.update}" class="active">Yeni İlan</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-offset-1 col-md-10">
            <div class="box box-primary">
                <div class="box-header">

                    <h3 class="box-title" th:if="${advertForm.update}">İlanı güncelle</h3>
                    <h3 class="box-title" th:unless="${advertForm.update}">İlan oluştur</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-offset-2 col-md-8">
                            <form id="advertForm" action="#" th:action="@{/ilan/yeni}" th:object="${advertForm}"
                                  method="post">
                                <div class="form-group">
                                    <label for="adHead"><i class="fa fa-newspaper-o"></i> İlan Başlığı</label>
                                    <input type="text" th:field="*{adHead}" th:text="${adHead}" id="adHead"
                                           class="form-control" placeholder="İlan Başlığı" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-black-tie"></i> Ünvan</label>
                                    <input type="text" th:field="*{adTitle}" th:text="${adTitle}" id="adTitle"
                                           class="form-control" placeholder="Software Developer, etc"
                                           autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label for="adAddress"><i class="fa fa-map-marker"></i> Adres</label>
                                    <input type="text" th:field="*{adAddress}" th:text="${adAddress}" id="adAddress"
                                           class="form-control" placeholder="Adres" autocomplete="off">
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-file-text-o"></i> İş Tanımı</label>
                                    <textarea class="form-control" th:field="*{adDescription}"
                                              th:value="${adDescription}" id="adDescription" rows="3"
                                              placeholder="Describe job here.."></textarea>
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-file-text-o"></i> Arınan Nitelikler</label>
                                    <textarea class="form-control" th:field="*{adQualification}"
                                              th:value="${adQualification}" id="adQualification" rows="3"
                                              placeholder="-Should have 3 years of experience.."></textarea>
                                </div>
                                <input type="hidden" th:field="*{adCode}" th:value="${adCode}"/>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Yayınlama Tarihi:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" th:field="*{adActivation}" th:text="${adActivation}"
                                                       class="form-control pull-right" id="datepicker1">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Son Başvuru Tarihi:</label>
                                            <div class="input-group date">
                                                <div class="input-group-addon">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                                <input type="text" th:field="*{adDeadline}" th:text="${adDeadline}"
                                                       class="form-control pull-right" id="datepicker2">
                                            </div>
                                            <!-- /.input group -->
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><i class="fa fa-star-o"></i> Yetenekler</label>
                                    <select th:unless="${advertForm.update}" th:field="*{skillList}" aria-hidden="true"
                                            class="form-control select2 select2-hidden-accessible"
                                            data-placeholder="Ozellikleri sec" multiple="" style="width: 100%;"
                                            tabindex="-1">
                                        <option th:each="skillItem:${list}"
                                                th:value="${skillItem.skillId}"
                                                th:text="${skillItem.skillName}">
                                        </option>

                                    </select>
                                    <select th:if="${advertForm.update}" th:field="*{skillList}" aria-hidden="true"
                                            class="form-control select2 select2-hidden-accessible"
                                            data-placeholder="Ozellikleri sec" multiple="" style="width: 100%;"
                                            tabindex="-1">
                                        <option th:each="skillItem:${list}"
                                                th:value="${skillItem.skillId}"
                                                th:text="${skillItem.skillName}"
                                                th:selected="${advertForm.skillList.contains(skillItem)}">
                                        </option>

                                    </select>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <div class="col-xs-12">
                        <a href="invoice-print.html" target="_blank" class="btn btn-warning "
                           style="margin-left:180px;"><i class="fa fa-print"></i>Temizle</a>

                        <button id="adSaveBtn" th:if="${advertForm.update}" type="submit"
                                class="btn btn-primary  pull-right" style="margin-right: 180px;">
                            <i class="fa fa-download"></i>Güncelle
                        </button>
                        <button id="adSaveBtn" th:unless="${advertForm.update}" type="submit"
                                class="btn btn-primary  pull-right" style="margin-right: 180px;">
                            <i class="fa fa-download"></i>Kaydet
                        </button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>